.footer {
  width: 100vw;
  max-width: 1512px;
  height: 458px;

  padding: var(--space-xxl) var(--margin); /* top/bottom: 80px, sides: 167px */
  margin-inline: auto;

  display: flex;
  align-items: center;
  gap: var(--space-3xl); /* 96px */

  box-sizing: border-box;
}

.footerInner {
  max-width: 1178px;
  width: 100%;
  height: 298px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;

  margin-inline: auto;
}

.footerLogo {
  display: flex;
}

.footerNav {
  width: 747px;
  min-width: 600px;
  max-height: 298px;

  display: flex;
  justify-content: space-between;
}

.footerNavColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerNavTitle {
  color: var(--color-neutral-main);
  flex-shrink: 0;
  margin-bottom: 10px;
}

.footerNav ul {
  font-size: var(--font-size-text-x-large);
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footerNav ul li:last-child {
  margin-top: auto;
}

.footerNav a {
  color: var(--color-neutral-main);
  text-decoration: none;
}

.footerNav a:hover {
  text-decoration: underline;
}

.footerCta {
  display: flex;
  justify-content: flex-end;
}

.footerCta a {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.footerCta a:hover {
  opacity: 0.85;
}

.footerCta img {
  height: auto;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;

    padding: 64px 32px 120px 32px;
    gap: 40px;
    height: auto;
  }

  .footerInner {
    flex-direction: column;
    align-items: flex-start;

    max-width: 192px;
    width: 100%;
    height: auto;
    gap: 40px;
    margin-inline: 0;
  }

  .footerLogo {
    order: 1;
  }

  .footerCta {
    order: 2;
    justify-content: flex-start;
    width: 100%;
  }

  .footerNav {
    order: 3;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    max-height: none;
    gap: var(--space-3xl);
  }

  .footerNavColumn {
    width: 100%;
  }

  .footerNav ul {
    gap: 14px;
  }

  .footerCta img {
    max-width: 100%;
    height: auto;
  }
}
