
/* Responsive adjustments */
@media (min-width: 600px) {
  .Container {
    width: 453px;
    position: absolute;
    top: 194px;
    left: 362px;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 40px;
  }
}

/* Container */
.Container {
  max-width: 600px;
  height: 211px;
  background: linear-gradient(to right, #ED560E, #F57708, #FFA000);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading */
.SearchHeading {
  font-family: 'Calibre', sans-serif;
  font-size: 32px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 5.5px;
  font-weight: 600;
}

/* Input */
.InputWrapper {
  position: relative;
  width: 298px;
  height: 39px;
  display: flex;
  align-items: center;
}

.SearchInput {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  border: none;
  padding-left: 24px;
  padding-right: 32px;
  font-size: 14px;
  font-family: 'Calibre', sans-serif;
  color: #787878;
}

.ClearButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  line-height: 1;
}

/* My Location */
.MyLocation {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #642406;
  margin: 9.5px 0 8px -116px;
  cursor: pointer;
}

.MyLocationIcon {
  width: 17px;
  height: 17px;
}

/* Price Toggle */
.PriceToggleContainer {
  margin: 0;
  cursor: pointer;
  display: flex;
}

.PriceToggleRow {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 298px;
  margin-right: 52px;
}

.PriceToggleRow.visible .FuelTypeContainer,
.FuelTypeContainer.visible {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.FuelTypeContainer {
  display: flex;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  margin-right: 15px;
}

.FuelTypeContainer.hidden {
  opacity: 0;
}

.PriceToggleRow.expanded {
  justify-content: space-between;
  margin-left: 71px;
}

/* Toggle Icon */
.ToggleIconWrapper {
  height: 32px;
  width: 100%;
  display: flex;
}

.ToggleIconImage {
  width: 150px;
  opacity: 0;
}

.ToggleIconImage.show {
  opacity: 1;
}

.ToggleIconImage.hide {
  opacity: 0;
  margin-left: -150px;
}

.ShowPriceToggle,
.HidePriceToggle {
  width: 150px;
}

.ShowPriceToggle {
  margin-left: 100px;
}

/* Suggestions */
.SuggestionList {
  position: absolute;
   max-height: 220px; 
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.SuggestionItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 2px;
  padding: 10px 16px;
  cursor: pointer;
  font-family: 'Calibre', sans-serif;
  font-size: 14px;
  color: #787878;
}

.SuggestionIcon {
  width: 11.2px;
  height: 12.22px;
  margin-right: 1.2px;
}

.SuggestionItem:hover {
  background-color: #f1f1f1;
}

/* Fuel Dropdown */
.FuelDropdown {
  position: absolute;
  top: 88%;
  background: white;
  border-radius: 16px;
  width: 25%;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 4px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.FuelOption {
  padding: 8px 12px;
  cursor: pointer;
}

.FuelOption:hover {
  border-radius: 16px;
  background-color: #F0F0F0;
}